.main-footer {
  color: black;
  background-color: #add8e6;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
}

.row {
  display: flex;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
